<!doctype html><html><head><base th:href="${baseHref}"/><meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/><title>Dashboard Panel</title><link rel="icon" type="image/x-icon" href="favicon.ico"/><link href="/app/styles.af9c194e4c253cf98151.bundle.css" rel="stylesheet"/></head><script th:inline="javascript">/*<![CDATA[*/
  window["INJECTED_ENVIRONMENT"] = {
    serviceInstanceId: [[${serviceInstanceId}]],
    token: [[${token}]],
	  production: false,
    baseUrls: {
      serviceBrokerUrl: [[${endpointUrl}]],
    },
    ui: {
      title: "Service Broker Panel",
      logoSrc: "./assets/core/sb-white.svg"
    }
  };
  
/*]]>*/</script><body><sb-root></sb-root><script type="text/javascript" src="/app/inline.d7419a15375dd8ed27e9.bundle.js"></script><script type="text/javascript" src="/app/polyfills.633bf7515b0e539857c0.bundle.js"></script><script type="text/javascript" src="/app/main.e451a0b16993403d08db.bundle.js"></script></body></html><!--
  window["INJECTED_ENVIRONMENT"] = {
    serviceInstanceId: 'DD69H8D3-7876-4056-A0EE-DE8D3498259T',
    token: 'Bearer 12345678910',
	  production: false,
    baseUrls: {
      serviceBrokerUrl: 'http://localhost:8080', 
    },
    ui: {
      title: "Service Broker Panel",
      logoSrc: "./assets/core/sb-white.svg"
    }
  };
  
-->