<!doctype html>
<html>

<head>
  <base th:href="${baseHref}" />
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dashboard Panel</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
<link rel="stylesheet" href="/app/styles.dc70c08c284e4c084a1b.css"></head>
<script th:inline="javascript">
  /*<![CDATA[*/
  window["INJECTED_ENVIRONMENT"] = {
    serviceInstanceId: [[${ serviceInstanceId }]],
    token: [[${ token }]],
    production: false,
    baseUrls: {
      serviceBrokerUrl: [[${ endpointUrl }]],
    },
    customEndpoints: [[${ customEndpoints }]],
    ui: {
      title: "Service Broker Panel",
      logoSrc: "./assets/core/sb-white.svg"
    }
  };

  /*]]>*/
</script>

<body>
  <wrapper class="d-flex flex-column">
    <sb-root>
    </sb-root>    
  </wrapper>
<script src="/app/runtime-es2015.b04de04003e1dee1baba.js" type="module"></script><script src="/app/runtime-es5.b04de04003e1dee1baba.js" nomodule defer></script><script src="/app/polyfills-es5.87ecd53cff200e60f03f.js" nomodule defer></script><script src="/app/polyfills-es2015.d72a5b4899afca014260.js" type="module"></script><script src="/app/main-es2015.355fa3fc70dbd1125fdd.js" type="module"></script><script src="/app/main-es5.355fa3fc70dbd1125fdd.js" nomodule defer></script></body>
</html>